@using Sitecore.Mvc

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link href="~/Assets/Styling/helix-styling.css" rel="stylesheet" />
</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("header")
    </header>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>
    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>
</html>