@using Sitecore.Mvc

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

    <link rel="stylesheet" href="~/Assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/montserrat.css">
    <script src="~/Assets/jquery/jquery.min.js"></script>
    <script src="~/Assets/bootstrap/bootstrap.min.js"></script>

    <link href="~/Assets/css/website.css" rel="stylesheet" />

</head>
<body>
    <header>
        @Html.Sitecore().Placeholder("header")
    </header>
    <div>
        @Html.Sitecore().Placeholder("main")
    </div>


    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Who Am I?</h3>
        <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350">
        <h3>I'm an adventurer</h3>
    </div>

    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Where To Find Me?</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="birds1.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="birds2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="birds3.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
        </div>
    </div>

    <footer>
        @Html.Sitecore().Placeholder("footer")
    </footer>
</body>
</html>