@import '_Variables.scss';

.footer-bar {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $footer-bg-color;
    color: $footer-color;
}

.footer-bar li a:hover {
    color: #1abc9c !important;
}

.footer-bar li a {
    font-size: 12px;
    letter-spacing: 4px;
    text-decoration: none;
    background-color: transparent;
}

.footer-bar li {
    display: block;
    float: right;
    margin-left: 50px;
}

.copyright-bar {
    background-color: $footer-bg-color;
    font-size: 12px;
}
