

<div class="main-header">
    <div class="content-wrapper">
        <div class="top-bar__left">
            Main header
        </div>
        <div class="top-bar__right">
            @*<ul class="menu">
                @foreach (var item in Model)
                {
                    if (item.Link == null)
                    {
                        <li class="menu__item"><a href="#">@item.Title</a></li>
                    }
                    else
                    {
                        <li class="menu__item"><a href="@item.Link.Url">@item.Title</a></li>
                    }
                }
            </ul>*@
        </div>
    </div>
</div>