@using Sitecore.Mvc
@using System.Collections.Generic;
@model List<Rain.Feature.Header.Models._GenericLink>

<nav class="navbar navbar-default nav-top-bar">
    <div class="container">

        <div class="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                @foreach (var item in Model)
                {
                    if (item.Link == null)
                    {
                        <li><a href="#">@item.Title</a></li>
                    }
                    else
                    {
                        <li><a href="@item.Link.Url">@item.Title</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</nav>